<div class="w-full flex justify-center items-center flex-col gap-y-4">
    <h2 class="text-white text-3xl w-full">Directiva &#64;for</h2>
    <div class="w-[500px] p-10 rounded-md flex justify-center items-center gap-x-20 mt-10 border border-white">
        <p class="text-2xl text-white underline decoration-yellow-400 underline-offset-8 ">My stack</p>
        <ul>
            @for(tech of myTechnologies; let i = $index; track i){
                <li class="mb-4">
                    <p class="text-white mb-2">{{ tech.technology }}</p>
                    <img [src]="tech.img" [alt]="tech.technology">
                </li>
            }
        </ul>
    </div>
</div>
