<div class="flex flex-col items-center justify-center w-full gap-y-4">
    <h2 class="w-full text-3xl text-white">Decorador &#64;input</h2>
    <p class="w-full px-10 text-xl text-white">Cuando defines una propiedad con el decorador <span class="px-3 py-1.5 italic font-semibold tracking-wide rounded-md bg-white/20">{{ decorador }}</span> en un componente secundario, estás indicando que esa propiedad puede recibir datos desde el <span class="underline underline-offset-8 decoration-yellow-400">componente padre</span>.</p>
</div>