<div class="w-full flex justify-center items-center flex-col gap-y-4">
    <h2 class="text-white text-3xl w-full">Intro</h2>
    <p class="text-white text-xl w-full px-10">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem aspernatur eum odit aliquid perspiciatis dolor. Asperiores, nam? Alias totam, vero quisquam culpa nostrum aperiam nulla inventore, atque, odio veniam velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos nesciunt consequatur enim ab, dolorem tenetur? Amet aliquam odio obcaecati soluta, iure perferendis impedit illum reprehenderit qui provident officia quam.</p>
</div>
